<div class="col-12">
    <div class="card">
        <div class="p-fluid formgrid grid">
            <div class="field col-4">
                <h5>Choisir une categorie</h5>
                <p-dropdown (onChange)="onCategorieSelect()" [options]="categorieList" optionLabel="libelle"
                    [(ngModel)]="selectedCategorie" placeholder="Choisir une categorie" [showClear]="true"></p-dropdown>
            </div>
            <div class="field col-6" [hidden]="hidden">
                <h5>Choisir un article</h5>
                <p-listbox [options]="articleList" optionLabel="libelle" [(ngModel)]="selectedArticle"
                    [filter]="true"></p-listbox>
            </div>
            <div class="field col-6" [hidden]="!hidden">
                <h5>Details de l'article souhaité</h5>
                <textarea rows="5" cols="30" [(ngModel)]="extraArticle" pInputTextarea></textarea>
            </div>
        </div>
        <div class="p-fluid formgrid grid">
            <div class="field col-4">
                <h5>Quantité à commander</h5>
                <p-inputNumber mode="decimal" [showButtons]="true" [min]="1" [(ngModel)]="quantite"></p-inputNumber>
            </div>
        </div>
        <div class="mt-4 c1">
            <p-button (onClick)="submitDemande()" label="Confirmer votre demande"></p-button>
        </div>
        <div>
            <p-messages [value]="msgs"></p-messages>
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>
</div>