<div class="grid">
    <div class="col-12">

        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2 mb-2"
                        routerLink="/service-achat/Formulaire-demande-achat"></button>
                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help mb-2"
                        (click)="exportPDF()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="demandeAchatList" [columns]="cols" [rows]="10" [paginator]="true"
                [globalFilterFields]="['article.libelle', 'magasinier.nom', 'quantite', 'dateCommande']"
                [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between table-header">
                        <h5 class="p-m-0">Liste des demandes d'achat</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        
                        <th pSortableColumn="article.libelle">Article <p-sortIcon field="article"></p-sortIcon></th>
                        <th pSortableColumn="quantite">Quantite <p-sortIcon field="quantite"></p-sortIcon></th>
                        <th pSortableColumn="magasinier.nom">Magasinier<p-sortIcon field="magasinier"></p-sortIcon></th>
                        <th pSortableColumn="dateCommande">Date <p-sortIcon field="dateCommande"></p-sortIcon></th>
                        
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-demandeAchat>
                    <tr>
                        <td>{{ demandeAchat.article.libelle }}</td>
                        <td>{{ demandeAchat.quantite }}</td>
                        <td>{{ demandeAchat.magasinier.nom }} {{ demandeAchat.magasinier.prenom }}</td>
                        <td>{{ demandeAchat.dateAchat | date: 'dd/MM/yyyy'}}</td>
                        <td><button (click)="redirectToDetails(demandeAchat)" pButton pRipple label="Voir plus de détails"
                                class="p-button-primary"></button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">

                </ng-template>
                <ng-template pTemplate="paginatorright">

                </ng-template>
            </p-table>
        </div>
    </div>
</div>