<div class="grid">
    <div class="col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2 mb-2"
                        (click)="openNew()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="articlesList" [columns]="cols" [rows]="10" [paginator]="true"
                [globalFilterFields]="['libelle','caracteristiques','marque','categorie.libelle']"
                [(selection)]="selectedArticles" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between table-header">
                        <h5 class="p-m-0">Gérer les articles</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">libelle <p-sortIcon field="libelle"></p-sortIcon></th>
                        <th pSortableColumn="stock">stock <p-sortIcon field="stock"></p-sortIcon></th>
                        <th pSortableColumn="caracteristiques">caracteristiques <p-sortIcon field="catacteristiques"></p-sortIcon></th>
                        <th pSortableColumn="marque">marque <p-sortIcon field="marque"></p-sortIcon></th>
                        <th pSortableColumn="categorie.libelle">categorie <p-sortIcon field="categorie"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-article>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="article"></p-tableCheckbox>
                        </td>
                        <td><span class="p-column-title">Libellé</span>
                            {{article.libelle}}
                        </td>
                        <td><span class="p-column-title">Stock</span>
                            {{article.stock}}
                        </td>
                        <td><span class="p-column-title">Caracteristiques</span>
                            {{article.caracteristiques}}
                        </td>
                        <td><span class="p-column-title">Marque</span>
                            {{article.marque}}
                        </td>
                        <td><span class="p-column-title">Categorie</span>
                            <p-tag severity="primary">{{article.categorie.libelle}}</p-tag>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="editArticle(article)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteArticle(article)"></button>
                            <button pButton pRipple label="Historique" (click)="toHistory(article.id)" ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        Il y a {{articlesList ? articlesList.length : 0 }} articles au total.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="articleDialog" [style]="{width: '450px'}" header="Détails de l'article" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <app-form-article (closeDialog)="closeDialog($event)" [articleToEdit]="article"></app-form-article>
            </ng-template>

            <ng-template pTemplate="footer">
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>