<div class="card info">
    <p-toast></p-toast>

    <table>
        <tr>
            <td>
                <h5>Demandeur : </h5>
            </td>
            <td>
                <div class="detail">{{demandeArticle?.demandeur.prenom}} {{demandeArticle?.demandeur.nom}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Département : </h5>
            </td>
            <td>
                <div class="detail">{{demandeArticle?.demandeur.departement.nom}} </div>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Date du demande : </h5>
            </td>
            <td>
                <div class="detail">{{demandeArticle?.dateDa | date : "dd/MM/yyyy"}} </div>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Article demandé : </h5>
            </td>
            <td  *ngIf="!articleNull; else elseBlock">
                <div class="detail">{{demandeArticle?.article.libelle}} </div>
            </td>
            <ng-template #elseBlock>
                <td><div class="detail"><p-tag severity="danger">Article n'existe pas</p-tag></div></td>
            </ng-template>
        </tr>
        <tr [hidden]="!articleNull">
            <td>
                <h5>Details de l'article : </h5>
            </td>
            <td>
                <div class="detail">{{demandeArticle?.extraArticle}} </div>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Quantité demandé : </h5>
            </td>
            <td>
                <div class="detail">{{demandeArticle?.quantite}} </div>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Besoin de l'article : </h5>
            </td>
            <td>
                <div class="detail">{{demandeArticle?.besoin}} </div>
            </td>
        </tr>
    </table>
    <button (click)="submit()" pButton pRipple class="p-button-primary"> {{nature}} </button>
    <button style="margin-left: 5px;" pButton pRipple class="p-button-primary" (click)="openPDF()">PDF</button>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>