<div class="layout-dashboard">
    <div class="grid">
        <div class="col-12 md:col-4" *ngxPermissionsOnly="['Magasinier','Administrateur','Service achat']">
            <div (click)="show(1)" class="card widget-overview-box widget-overview-box-1">
                <span class="overview-title">
                    Demandeurs
                </span>
                <div class="flex justify-content-between">
                    <div class="overview-detail flex justify-content-between">
                        <div class="overview-badge flex justify-content-center align-items-center">
                            <span>{{ demandeArticleCount }}</span>
                        </div>
                        <div class="overview-text">
                            Demandes
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/rate.svg">
            </div>
        </div>
        <div class="col-12 md:col-4" *ngxPermissionsOnly="['Magasinier','Administrateur','Service achat']">
            <div (click)="show(2)" class="card widget-overview-box widget-overview-box-2">
                <span class="overview-title">
                    MAGASINIERS
                </span>
                <div class="flex justify-content-between">
                    <div class="overview-detail flex justify-content-between">
                        <div class="overview-badge flex justify-content-center align-items-center">
                            <span>{{ bonDeSortieCount+demandeAchatCount+bonDeCommandeCount }}</span>
                        </div>
                        <div class="overview-text">
                            Operation
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/value.svg">
            </div>
        </div>
        <div class="col-12 md:col-4" *ngxPermissionsOnly="['Magasinier','Administrateur','Service achat']">
            <div (click)="show(3)" class="card widget-overview-box widget-overview-box-3">
                <span class="overview-title">
                    SERVICE ACHAT
                </span>
                <div class="flex justify-content-between">
                    <div class="overview-detail flex justify-content-between">
                        <div class="overview-badge flex justify-content-center align-items-center">
                            <span>{{ demandeAchatCount+bonDeCommandeCount }}</span>
                        </div>
                        <div class="overview-text">
                            Operation
                        </div>
                    </div>
                </div>
                <img src="assets/layout/images/dashboard/quantity.svg">
            </div>
        </div>

        <div class="col-12 md:col-8" *ngxPermissionsOnly="['Magasinier','Administrateur','Service achat']">
            <div class="card widget-visitor-graph">
                <div class="card-header">
                    <span>Graphique des demandes</span>
                </div>
                <p-chart type="bar" [hidden]="hideA" [data]="basicData"></p-chart>
                <p-chart type="bar" [hidden]="hideB" [data]="magasinierData"></p-chart>
                <p-chart type="bar" [hidden]="hideC" [data]="serviceData"></p-chart>
            </div>
        </div>

        <div class="col-12 md:col-4" *ngxPermissionsOnly="['Magasinier','Administrateur','Service achat']">
            <div class="card widget-timeline">
                <div class="timeline-header flex justify-content-between align-items-center">
                    <p>Historique du stock</p>
                    <div class="header-icons">
                        <i class="pi pi-refresh"></i>
                        <i class="pi pi-filter"></i>
                    </div>
                </div>
                <div class="timeline-content">
                    <p-timeline [value]="timelineEvents" styleClass="custimized-timeline">
                        <ng-template pTemplate="marker" let-event>
                            <span class="custom-marker" [style.backgroundColor]="event.iconColor">
                                <i [ngClass]="event.icon"></i>
                            </span>
                        </ng-template>
                        <ng-template pTemplate="content" let-event>
                            <div class="flex align-items-center justify-content-between">
                                <p>{{event.transaction}}</p>
                                <h6 [style.color]="event.amountColor">{{event.amount}}</h6>
                            </div>
                            <span>{{event.date}}</span>
                        </ng-template>
                    </p-timeline>
                </div>
            </div>
        </div>
        <div class="col-12 widget-customer-carousel">
            <p-carousel [value]="menuCarousel" [numVisible]="4" [numScroll]="1" [circular]="true" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-item pTemplate="item">
                    <div class="card mr-4" (click)="redirect(item.link)">
                        <div class="customer-item-content">
                            <div class="mb-6">
                                <img width="100px" height="100px" src="assets/layout/images/dashboard/{{item.image}}.png" [alt]="item.image" class="product-image" />
                            </div>
                            <div>
                                <h4>{{item.name}}</h4>
                               </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>


        <div class="col-12 md:col-12">
            <div class="card">
                Suivez l'état de votre demande récente de l'article : {{ latestDemande.article.libelle }}
                <p-timeline [value]="events" layout="horizontal" align="top">
                    <ng-template pTemplate="content" let-event>
                        {{ event }}
                    </ng-template>
                </p-timeline>
            </div>
        </div>
    </div>
</div>