<div class="grid">
    <div class="col-12 lg:col-11">
        <div class="card">
            <div *ngxPermissionsOnly="'Administrateur'">
                <h5>Statistiques des Utilisateurs</h5>
                <div class="grid">
                    <div class="col-12 md:col-4">
                        <div class="card widget-overview-box widget-overview-box-1">
                            <span class="overview-title">
                                ADMINISTRATEURS
                            </span>
                            <div class="flex justify-content-between">
                                <div class="overview-detail flex justify-content-between">
                                    <div class="overview-badge flex justify-content-center align-items-center">
                                        <span>{{ adminPercentage }}</span>
                                    </div>
                                    <div class="overview-text">
                                        {{ adminCount }}
                                    </div>
                                </div>
                            </div>
                            <img src="assets/layout/images/dashboard/rate.svg">
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="card widget-overview-box widget-overview-box-2">
                            <span class="overview-title">
                                MAGASINIERS
                            </span>
                            <div class="flex justify-content-between">
                                <div class="overview-detail flex justify-content-between">
                                    <div class="overview-badge flex justify-content-center align-items-center">
                                        <span>{{ magasinierPercentage }}</span>
                                    </div>
                                    <div class="overview-text">
                                        {{ magasinierCount }}
                                    </div>
                                </div>
                            </div>
                            <img src="assets/layout/images/dashboard/value.svg">
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="card widget-overview-box widget-overview-box-3">
                            <span class="overview-title">
                                SERVICE ACHAT
                            </span>
                            <div class="flex justify-content-between">
                                <div class="overview-detail flex justify-content-between">
                                    <div class="overview-badge flex justify-content-center align-items-center">
                                        <span>{{ serviceAchatPercentage }}</span>
                                    </div>
                                    <div class="overview-text">
                                        {{ serviceAchatCount }}
                                    </div>
                                </div>
                            </div>
                            <img src="assets/layout/images/dashboard/quantity.svg">
                        </div>
                    </div>
                    <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
                </div>
            </div>
            <div *ngxPermissionsOnly="'Magasinier'">
                magasinier dashboard
            </div>
            <div *ngxPermissionsOnly="'Service achat'">
                service achat dashboard
            </div>
        </div>
    </div>
</div>